.movie {
  perspective: 1000px;
  height: 100%;

  .movie__rating {
    text-align: right;
    span {
      font-size: 22px;
      display: inline-block;
      vertical-align: top;
      margin: 0 5px 0 3px;
      text-shadow: 1px 1px 2px black;
    }
  }
  .movie--flipper {
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;

    &.movie--active {
      transform: rotateY(180deg);
    }

    .movie__front, .movie__back {
      backface-visibility: hidden;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }

    .movie__front {
      z-index: 2;
      transform: rotateY(0deg);
    }

    .movie__back {
      height: 100%;
      width: 100%;
      transform: rotateY(180deg);
      img {
        transform: rotateY(180deg);
        opacity: .4;
        position: absolute;
      }
    }

    .movie__toggle {
      position: absolute !important;
      top: 10px;
      right: 5px;
      width: auto !important;
    }
  }

  .movie__awards {
    margin-top: 5px;
    margin-left: 5%;
    width: 90%;
  }

  // animations
  .title-enter {
    opacity: 0.01;
  }

  .title-enter.title-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .title-leave {
    opacity: 1;
  }

  .title-leave.title-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .list-enter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(-100%, 0, 0);
  }

  .list-enter.list-enter-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform 200ms ease-in;
  }

  .list-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0, 0, 0);
  }

  .list-leave.list-leave-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(-100%, 0, 0);
    transition: transform 200ms ease-in;
  }

  //
  .list-2-enter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(100%, 0, 0);
  }

  .list-2-enter.list-2-enter-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform 200ms ease-in;
  }

  .list-2-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0, 0, 0);
  }

  .list-2-leave.list-2-leave-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(100%, 0, 0);
    transition: transform 200ms ease-in;
  }
}
