.movie {
  perspective: 1000px;
  margin: 5px 0;

  .movie__rating {
    span {
      font-size: 22px;
      display: inline-block;
      vertical-align: top;
      margin: 0 5px 0 3px;
      text-shadow: 1px 1px 2px black;
    }
  }
  .movie--flipper {
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;

    &.movie--active {
      transform: rotateY(180deg);
    }

    .movie__front, .movie__back {
      backface-visibility: hidden;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }

    .movie__front {
      z-index: 2;
      transform: rotateY(0deg);
      position: relative;
      height: 100%;
      img {
        width: 100%;
        cursor: pointer;
      }
    }

    .movie__back {
      height: 100%;
      width: 100%;
      transform: rotateY(180deg);
      a {
        display: inline-block;
      }
    }

    .movie__toggle {
      position: absolute !important;
      top: 10px;
      right: 5px;
      width: auto !important;
    }
  }

  .movie__awards {
    margin-top: 5px;
    margin-left: 5%;
    width: 90%;
  }
}
